.header {
    background-color: var(--col-sec);
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
}

.menu-button svg {
    fill: var(--col-txt);
    width: 32px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.profile-button svg {
    fill: var(--col-txt);
    width: 32px;
}